@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ================== General style ================== */


* {
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.container {
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
}
/* tablet media querie breakpoint */
@media screen and (max-width: 992px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

/* ================== Header section ================== */

header {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    width: 10%;
}
nav ul {
    display: flex;
    gap: 25px;
}
nav ul li a {
    display: block;
    border-top: 2px transparent solid;
    padding: 0 10px;
    padding-top: 40px;
    cursor: pointer;
}
nav li a:hover {
    color: #0065FC;
    border-color: #0065FC;
}
@media screen and (max-width: 767px) {
    header {
        margin-bottom: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 4vw;
    }
    .header-logo {
        width: 40%;
    }
    nav, ul, li {
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav ul {
        gap: 0;
    }
    nav ul li a {
        font-size: 4.5vw;
        border-top: none;
        border-bottom: 5px solid #cfcdcd;
        text-align: center;
        padding-top: 0;
        padding-bottom: 5%;
    }
}


/* ================== Search section ================== */

.search-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.citation h2 {
    font-weight: 550;
}
.citation h4 {
    font-weight: 200;
}
.search-section form {
    display: flex;
    gap: 0;
}
.search-section form .local {
    padding: 1%;
    border-radius: 30% 0 0 30%;
    background: #F2F2F2;
}
.search-section form input {
    padding-left: 1%;
    padding-right: 3%;
    font-weight: 700;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}
.search-section form .search-button .fas {
    display: none;
}
.search-section form .search-button {
    background: #0065FC;
    border-radius: 0 13px 13px 0;
    padding: 1%;
    cursor: pointer;
}
.search-section form .search-button span {
    color: white;
}
.search-section .filter, .search-section .filter-items,.search-section .filter-items .item {
    display: flex;
    align-items: center;
}
.search-section .filter {
    gap: 30px;
}
.search-section .filter-items {
    gap: 20px;
    flex-wrap: wrap;
}
.search-section .filter-items .item {
    background: white;
    gap: 20px;
    padding: 10px;
    border-radius: 50px;
    white-space: nowrap;
    border: 2px solid #cfcdcd;
    cursor: pointer;
    transition: all 500ms ease;
}
.search-section .filter-items .item .icon i {
    display: block;
    color: #0065FC;
}
.search-section .filter-items .item .icon {
    padding: 10px;
    background: #DEEBFF;
    border-radius: 55%;
    display: flex;
    align-items: center;
    transform: scale(1.7);
}
.search-section .filter-items .item span {
    font-weight: 600;
    transition: all 500ms ease;
}
.search-section .filter-items .item:hover span {
    color: white;
}
.search-section .filter-items .item:hover {
    background: #0065FC;
}
.search-section .search-results {
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-section .search-results .info-icon {
    padding: 4px 10px;
    border-radius: 55%;
    border: 1px solid #cfcdcd;
}
.search-section .search-results .info-icon i {
    color: #0065FC;
}
.search-section .search-results .result-text {
    font-weight: 100;
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 767px) {
    .search-section {
        width: 95%;
        margin: auto;
        margin-bottom: 5%;
    }
    .citation h2 {
        font-size: 7vw;
        margin-bottom: 4%;
    }
    .citation h4 {
        font-size: 5vw;
    }
    .citation {
        margin-bottom: 1%;
    }
    .search-section form input {
        width: 100%;
        padding-left: 3%;
        font-size: 5vw;
        font-weight: 700;
    }
    .search-section form .local {
        padding: 3vw;
    }
    .search-section form .search-button span {
        font-size: 5vw;
    }
    .search-section form .search-button {
        padding: 4vw;
    }
    .search-section form .local .fa-solid {
        font-size: 5vw;
    }
    .search-section .filter .filter-items {
        margin-bottom: 3vw;
        gap: 7vw;
    }
    .search-section .filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 10vw;
    }
    .search-section form .search-button .fas {
        display: inline;
    }
    .search-section form .search-button .searche-word {
        display: none;
    }
    .search-section form input {
        border-width: 1px 0;
    }
    .search-section form .search-button {
        transform: translateX(-8px);
        border-radius: 10px;
    }
    .search-section .filter h3 {
        font-size: 4vw;
        font-weight: 600;
    }
    .search-section .filter-items .item span {
        font-size: 4vw;
    }
    .search-section .filter-items .item {
        gap: 8vw;
        padding: 2%;
        margin-bottom: 7vw;
    }
    .search-section .filter-items .item .icon {
        transform: scale(2);
    }
    .search-section .search-results {
        align-items: flex-start;
    }
    .search-section .search-results .result-text {
        font-weight: 400;
        font-size: 5vw;
    }
    .search-section .search-results .info-icon {
        padding: 2vw 3vw;
    }
    .search-section .search-results .info-icon i {
        font-size: 3vw;
    }
}

/* ================== Accomodation section ================== */

.accommodation {
    display: flex;
    margin-bottom: 10%;
}
.accommodation article {
    width: fit-content;
}
.accommodation h2, .activities h2 {
    font-weight: 550;
    font-size: 20px;
}
.accommodation article, .accommodation aside {
    background: #F2F2F2;
    padding:50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.accommodation .main-accommodation .cards {
    display: flex;
    flex-wrap: wrap;
}
.accommodation .main-accommodation .cards .card .card-infos h4 {
    font-weight: 600;
} 
.accommodation .main-accommodation .cards .card {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.356);
    margin: 2%;
    display: block;
    width: 29%;
    padding: 4px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.accommodation .main-accommodation .cards .card .card-img {
    height: 100px;
    margin-bottom: 7px;
    border-radius: 20px 30px 0 0;
    overflow-y: hidden;
}
.accommodation .main-accommodation .cards .card span i,
.accommodation aside .cards .card .card-infos span i {
    font-size: 15px;
}
i.color-blue {
    color: #0065FC;
}
i.color-gray {
    color: #cfcdcd;
}
.accommodation .main-accommodation .cards .card .card-infos {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    gap: 4px;
}
.accommodation .main-accommodation .cards .card .card-title {
    font-weight: 700;
}
.accommodation aside .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.accommodation aside {
    width: 53%;
    margin-left: 3%;
}
.accommodation aside .cards .card {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.356);
    border-radius: 15px;
    display: flex;
    gap: 6%;
    background: white;
    padding: 7px;
}
.accommodation .popular-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accommodation .popular-title span {
    font-size: 20px;
}
.accommodation aside .cards .card .card-img {
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    width: 80%;
}
.accommodation aside .cards .card .card-img img {
    aspect-ratio: 1 / 1;
}
.accommodation aside .cards .card .card-infos h4 {
    font-weight: 600;
    margin-bottom: 3%;
}
.accommodation aside .cards .card .card-infos .rating {
    display: inline-block;
    margin-top: auto;
}
.accommodation aside .card-infos-head {
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.accommodation aside .cards .card .card-infos {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-top: 17px;
    padding-bottom: 14px;
    width: 100%;
}
@media screen and (max-width: 992px) {
    .accommodation {
        flex-direction: column-reverse;
    }
    .accommodation aside {
        width: 100%;
        overflow: hidden;
        margin-left: 0;
        margin-bottom: 2%;
    }
    .accommodation aside .cards .card .card-img {
        width: 30%;
    }
}
@media screen and (max-width: 767px) {
    .accommodation aside {
        padding: 5%;
    }
    .accommodation h2, .activities h2 {
        font-size: 6vw;
    }
    .accommodation .popular-title span {
        font-size: 5vw;
    }
    .accommodation aside .cards .card {
        border-radius: 20px;
        padding: 2%;
        gap: 6%;
    }
    .accommodation aside .cards .card .card-img {
        border-radius: 20px 0 0 20px;
        width: 57vw;
    }
    .accommodation aside .cards .card .card-infos h4 {
        font-size: 5vw;
        margin-bottom: 2%;
    }
    .accommodation aside .cards .card .card-infos span
     {
        font-size: 4vw;
    }
    .accommodation aside .cards .card .card-infos span i {
        font-size: 3vw;
    }
    .accommodation aside .cards .card .card-img,
    .accommodation aside .cards .card .card-img img {
        height: 100%;
    }
    .accommodation aside .cards .card {
        align-items: stretch;
    }
    .accommodation aside .cards .card .card-infos {
        height: initial;
        padding-top: 0;
        padding-bottom: 0;
    }
    .accommodation aside .cards .card .card-infos > span {
        margin-top: auto;
    }
    .accommodation article {
        width: 100%;
        background: transparent;
        padding: 5%;
    }
    .accommodation .main-accommodation .cards {
        flex-direction: column;
    }
    .accommodation .main-accommodation .cards .card {
        padding: 1.5%;
        margin: 3% 0;
        width: 100%;
    }
    .accommodation .main-accommodation .cards .card .card-img {
        height: 45vw;
        overflow: hidden;
    }
    .accommodation .main-accommodation .cards .card .card-infos {
        margin: 2.5% 0;
        gap: 1vw;
    }
    .accommodation .main-accommodation .cards .card .card-infos h4 {
        font-size: 5vw;
    }
    .accommodation .main-accommodation .cards .card .card-infos .card-price span {
        font-size: 4vw;
    }
    .accommodation .main-accommodation .cards .card .card-infos span i {
        font-size: 3vw;
    }
    .accommodation .main-accommodation > a h3 {
        font-size: 5vw;
    }
}

/* ================== Activites section ================== */

.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 5%;
}
.activities .cards {
    width: 100%;
    height: 350px;
    display: flex;
}
.activities .cards .card {
    display: block;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 3px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.356);
}
.activities .cards .card .fort-de-pomegue {
    transform: translateY(-30%);
}
.activities .cards .card h5 {
    padding: 13px 0;
    padding-left: 5px;
}
.activities .cards .big-card {
    height: 350px;
    justify-content: space-between;
}
.activities .cards .big-card, .activities .cards .sm-container {
    width: 21%;
}
.activities .cards .big-card .card-img,
.activities .cards .big-card .card-img img {
    height: 100%;
}
.sm-container {
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities .cards .sm-card .card-img {
    width: 100%;
    height: 110px;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .activities {
        padding: 0 5%;
        gap: 10vw;
    }
    .activities .cards {
        height: auto;
        flex-direction: column;
        gap: 4vw;
    }
    .activities .cards .big-card, .activities .cards .sm-container {
        width: 100%;
    }
    .activities .cards .big-card .card-img img {
        height: auto;
        transform: translateY(-50px);
    }
    .activities .cards .big-card {
        height: auto;
    }
    .activities .cards .big-card .card-img, .activities .cards .sm-card .card-img {
        overflow: hidden;
        height: 40vw;
    }
    .activities .cards .card h5 {
        font-size: 4vw;
        padding-left: 3vw;
    }
    .sm-container {
        gap: 4vw;
        margin: 0;
    }
}

/* ================== Footer section ================== */


footer {
    display: flex;
    padding-bottom: 3%;
    background-color: #F2F2F2;
}
footer .footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer div h2 {
    font-size: 15px;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
footer .footer {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 15%;
}
@media screen and (max-width: 767px) {
    footer {
        padding: 60px;
    }
    .footer div a {
        display: block;
        font-weight: 100;
        font-size: 4vw;
    }
    footer .footer.container {
        flex-direction: column;
        gap: 5vw;
    }
    footer .footer div {
        gap: 5vw;
    }
    .footer div h2 {
        font-size: 5vw;
    }
}